<!DOCTYPE html>
<html>
<head>
    <title>My Flask</title>
</head>
<body>
    <h1>This is a big heading</h1>

    <!-- 插入圖片 -->
    <!-- <img src="{{ url_for('static', filename='my_image.jpg') }}" alt="我的圖片"> -->

    <!-- 建立表格 -->
    <table>
        <thead>
            <tr>
                <th>h1</th>
                <th>h2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>data1</td>
                <td>data2</td>
            </tr>
            <tr>
                <td>data3</td>
                <td>data4</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
