<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Home</title>
    </head>
    <body>
        <section>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <style>
                        .avatar {
                          width: 50px;
                          height: 50px;
                          border-radius: 50%;
                          overflow: hidden;
                        }
                        
                        .avatar img {
                          width: 100%;
                          height: auto;
                          object-fit: cover;
                        }
                    </style>
                        
                    <div class="avatar">
                        <img src="https://s2.coinmarketcap.com/static/img/coins/200x200/5843.png" alt="head">
                    </div>

                    <a class="navbar-brand" href="#" style="font-size: 200%;">Stonk</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a></li>
                            <style>
                                .dropdown {
                                    position: relative;
                                }
                                
                                .dropdown-menu {
                                    display: none;
                                    position: absolute;
                                    top: 100%;
                                    left: 0;
                                    background-color: black; /* 设置背景颜色为黑色 */
                                    color: white; /* 设置文字颜色为白色 */
                                }
                                
                                .dropdown:hover .dropdown-menu {
                                    display: block;
                                }
                            </style>
                                
                            <div class="dropdown">
                                <a class="nav-link">{{ username }}</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Register new account</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log Out</a></li>
                                </ul>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">You can be a master, too!</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Try our prediction feature to help you earn extra money every month!</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{{ url_for('dashboard') }}">Get Started</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://memeprod.sgp1.digitaloceanspaces.com/user-template/0eba402225698318bb49386b3f9d4b05.png" alt="..." /></div>
                    </div>
                </div>
            </header>
            <!-- Page content-->
            <!-- Page content-->
            <div  style="background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);"><br><br>
                <div class="container" >
                    <div class="text-center" >
                        <h1 class="fw-bold mb-2">About Stonk <img class="avatar" src="https://s2.coinmarketcap.com/static/img/coins/200x200/5843.png" alt="head"></h1>
                        <p class="lead">This system is a stock prediction system designed for novice stock investors and investors who do not have time to observe the stock market in real time. The system will use machine learning technology to provide prediction of stock trading timing and investment strategy reference to help users make more informed investment decisions and validate their investment strategies.</p>
                    </div><br><br>
                </div>
                <!-- Bootstrap core JS-->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

                <div class="container" >
                    <div class="text-center" >
                        <h1 class="fw-bold mb-2">What can you do with Stonk ?</h1>
                        <p class="lead">Simply enter the stock code to find out which day the stock will rise in the next 30 days！</p>
                    </div><br><br>
                </div>
                <!-- Bootstrap core JS-->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
                <div class="container" >
                    <div class="text-center" >
                        <h1 class="fw-bold mb-2">Pricing</h1>
                    </div><br><br>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="container">
                                <div class="row d-flex justify-content-center align-items-center h-100">
                                  <div class="col-12">
                                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                      <div class="card-body p-5 text-center">
                            
                                        <div class=" mt-md-4">
                                            <h1 class="fw-bold mb-2" style="color:aquamarine;">Free User</p></h2>
                            
                                            <h2 class="fw-bold mb-2">$0 / month</p></h2>
                                                <ul>
                                                    <li>There is a limit on the number of inquiries per month (50 times)</li>
                                                    <li>All Taiwan stock information is not included.</li>
                                                </ul>
                                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Buy now</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="container">
                                <div class="row d-flex justify-content-center align-items-center h-100">
                                  <div class="col-12">
                                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                      <div class="card-body p-5 text-center">
                            
                                        <div class=" mt-md-4">
                                            <h1 class="fw-bold mb-2" style="color: chartreuse;">Basic User</p></h2>
                            
                                            <h2 class="fw-bold mb-2">$15 / month</p></h2>
                                                <ul>
                                                    <li>There is a limit on the number of inquiries per month (100 times).</li>
                                                    <li>All Taiwan stock information is included.</li>
                                                    <li>Up to 5 people can use the account.</li>
                                                </ul>
                                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Buy now</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="container">
                                <div class="row d-flex justify-content-center align-items-center h-100">
                                  <div class="col-12">
                                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                      <div class="card-body p-5 text-center">
                            
                                        <div class=" mt-md-4">
                                            <h1 class="fw-bold mb-2" style="color:orangered;">Enterprise User</p></h2>
                            
                                            <h2 class="fw-bold mb-2">$100 / month</p></h2>
                                                <ul>
                                                    <li>How you want to use how you use it.</li>
                                                </ul>
                                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Buy now</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br><br>
                <div class="bg-dark">
                    <div class="container">
                        <div class="row gx-5 align-items-center justify-content-center">
                            <div class="col-lg-8 col-xl-7 col-xxl-6">
                                <div class="my-5 text-center text-xl-start">
                                    <h1 class="fw-bolder text-white mb-2">Contact Us!</h1></p>
                                    <p class="lead fw-normal text-white">Email: Stonkisgood@stonk.com</p>
                                    <p class="lead fw-normal text-white">Phone: +886 2 8877 5566</p>
                                    <p class="lead fw-normal text-white">Location: National Chung Cheng University</p>
                                    
                                </div>
                            </div>
                            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>